h2 Media
.featured-row
  .featured
    h2 Pictures
    .thumbnail
      a(href="http://www.flickr.com/photos/hslphotosync/sets/72157632159921698/"): img(src="#{imgs}photos.jpg")
  .featured
    h2 Video
    .thumbnail
      a(href="http://www.youtube.com/watch?v=WCe788ryevA"): img(src="#{imgs}video.jpg")
