//- #tickets.notables
//-   !=partial("_shared/twitter")
//-   !=partial("_shared/tickets")
//-   .rules
//-     !=partial("_rules")
//- .notables
//-   .schedule
//-     !=partial("_schedule")
//-   .location
//-     !=partial("_shared/location")
#past-events
  !=partial("_shared/past")
//- twitter JS
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
