h2 Media
.featured-row
  .featured
    h2 Pictures
    .thumbnail
      a(href="https://secure.flickr.com/photos/hslphotosync/sets/72157640157831523/"): img(src="#{imgs}/photos.jpg")
  .featured
    h2 Video
    .thumbnail
      a(href="https://www.youtube.com/playlist?list=PLFxKMQLIngLHmEaF0Qv52U4Kmb0iZU-XL"): img(src="#{imgs}/video.jpg")
