footer#about
  .about-description
    h3 What is hackPHX?
    p We’re a bunch of hackers who want to encourage Arizona engineers, developers and artists to create together. We open source our work to learn from each other. Help us by sponsoring our next event.
  !=partial('contact-form')
  .about-image
    img(src="/img/hphx.jpg", alt="hackPHX")
