nav.navbar.navbar-static-top(role="navigation")
  .navbar-header
    a.navbar-brand(href="/")= name
    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      li: a(href="#sponsors") Sponsors
      li: a(href="/#tickets") Tickets
      li: a(href="/#past-events") Past Events
      li: a(href="#about") About
      li: a(href="https://www.facebook.com/hashHackPHX")
        i(class="icon-facebook")
        span(class="social-name") - hashHackPHX on Facebook
      li: a(href="https://twitter.com/hashhackphx")
        i(class="icon-twitter")
        span(class="social-name") - @hashhackphx on Twitter
      li: a(href="https://github.com/hackPHX")
        i(class="icon-github")
        span(class="social-name") - hackPHX on GitHub
