link(rel="stylesheet", href="https://tito.io/hackphx/arduino-wearables-winter-2014.css")
#tito-register-form
script(type="text/javascript", src="https://tito.io/hackphx/arduino-wearables-winter-2014.js?version=3")
